* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #fff;
  font-family: "Poppins", sans-serif;
}
header {
  width: 100%;
}
.navBar {
  position: relative;
  width: 100%;
  display: flex;
}
.navBar #menu {
  font-size: 16px;
  display: none;
  list-style: none;
  position: absolute;

  width: 100%;
  border-radius: 18px;
  text-align: center;
}
.nav-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}
.nav-icon .menu-icon {
  color: #fff;
  background: #100e1d;
  font-size: 20px;
  height: 15px;
}
.edie {
  font-family: Heebo;
  font-size: 28px;
  font-style: normal;
  font-weight: 350;
  line-height: 53px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 10px;
  color: black;
}
li {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0em;
}
.headerText p {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  color: #2d9cdb;
}
/* for p tag  property as paragraph */
p {
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
}
h2 {
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  line-height: 27px;
  letter-spacing: 0em;
}
.headerText {
  font-family: Poppins;
  width: 70%;
  margin-left: 10%;
  position: relative;
}

/* large image */
.bannerImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}
.bannerImg img {
  width: 95%;
  border-radius: 10px;
}

/*second remark*/
.secondRemark {
  width: 100%;
}
.secondRemark h2 {
  margin-top: 40px;
  width: 75%;
  padding-right: 12%;
}

.secondRemark p {
  padding: 10%;
}
.contactBtn {
  width: 80%;
}
.BtnJoin {
  /* position: relative; */
  margin-top: 10px;
  border-radius: 8px;
  width: 95%;
  border: 1px #f2f2f2;
  height: 30px;
  background-color: #f2f2f2;
}
.BtnJoin input,
.BtnJoin button {
  outline: none;
  border: none;
}
.BtnJoin input {
  width: 73%;
  margin-left: 2%;
  height: 28px;
  background: #f2f2f2;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}
.BtnJoin button {
  background: #2d9cdb;
  width: 25%;
  height: 22px;
  border-radius: 15px;
}
/* service remark section */
.pen {
  width: 18%;
  height: 50px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  background: #2d9cdb;
}

.fa-pen {
  font-size: 25px;
  background-color: #2d9cdb;
  color: #fff;
  border-radius: 10px;
}
.frontend {
  box-sizing: border-box;
  margin-left: 2%;
  width: 95%;
  /* background: #ecf0f3; */
  background: #fff;
  border-radius: 20px;
  /* box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px #fff; */
  box-shadow: 6px 14px 14px 14px rgba(0, 0, 0, 0.12);
}
.chevron {
  width: 18%;
  height: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 10px;
  background: green;
}

.fa-chevron-left,
.fa-chevron-right {
  color: #fff;
  font-size: 25px;
  background: green;
}

.bar {
  width: 18%;
  height: 50px;
  border-radius: 10px;
  background: rgba(255, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  display: flex;
}
.fa-bars {
  color: #fff;
  background: rgba(255, 0, 0, 0.5);
  font-size: 25px;
  text-align: center;
}
.service {
  margin-top: 50px;
}
.service h2 {
  padding-right: 10%;
  width: 75%;
}
.uiux button,
.frontend button,
.backend button {
  text-align: center;
  width: 40%;
  height: 40px;
  border-radius: 11px;
  outline: none;
  border: none;

  color: #fff;
}
.frontend button {
  background-color: #2d9cdb;
}
.uiux button,
.backend button {
  background: #ccc;
}

.uiux h2,
.uiux p,
.uiux button,
.frontend h2,
.frontend p,
.frontend button,
.backend h2,
.backend p,
.backend button {
  padding-top: 5%;
  padding-bottom: 6%;
}
.uiux,
.frontend,
.backend,
.design1,
.design2,
.teamCmnt,
.teamWd {
  padding: 10%;
}
*/*designs*/
.designSection {
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.design1,
.design2 {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.design1 img,
.design2 img {
  width: 100%;
  border-radius: 18px;
}
/* team section */
.teamImg {
  display: flex;
  width: 95%;
}
.teamImg img {
  border-radius: 17px;
  width: 80%;
  margin: 10px;
}
.person1 img {
  width: 90%;
  margin-left: 20%;
}
.person2 .img1 {
  width: 70%;
  margin-right: 22%;
}
.person2 .img2 {
  width: 80%;
  margin-right: 13%;
  margin-top: -5px;
}

.teamLeader,
.teamSection,
.person2,
.person1,
.secondRemark,
.service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.teamCmnt h2 {
  padding-top: 5%;
  line-height: 30px;
  width: 70%;
}
.teamCmnt .teamMessage {
  padding-top: 5%;
  line-height: 25px;
}
.teamLeaderDv {
  margin-top: 10%;
  display: flex;
  width: 95%;
}
.teamWd .team-head {
  font-weight: 40;
  font-size: 22px;
}
.team-name {
  margin: 5% 0 0 5%;
  line-height: 20px;
}
.teamWd {
  width: 95%;
}
.teamLeaderDv img {
  width: 30%;
  border-radius: 12px;
}
/* footer section */
footer {
  width: 100%;
  background: #100e1d;
  overflow: hidden;
  margin: 0;
  padding: 7%;
}

.EdieFooter {
  margin-top: 50px;
}

footer .footerMenu,
footer .EdieFooter,
footer .footerCtnMessage {
  color: #fff;
}

.footerCtnMessage {
  margin-top: 40px;
}
.RajiSFetcTech {
  margin-top: 20px;
  color: #fff;
  text-align: center;
}
@media screen and (min-width: 400px) {
  .BtnJoin {
    height: 49px;
  }
  .BtnJoin input {
    height: 48px;
  }
  .BtnJoin button {
    height: 37px;
  }
  .uiux button,
  .frontend button,
  .backend button {
    text-align: center;
    width: 40%;
    height: 60px;
    font-size: 18px;
    text-align: center;
    padding: 0;
  }
  .team-name h3,
  p {
    margin: 20px 0 20px 0;
  }

  .footer-svg {
    padding-left: 7%;
  }
}
@media screen and (min-width: 768px) {
  header {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .edie {
    font-size: 36px;
    font-weight: 800;
  }
  .navBar {
    overflow: hidden;
    width: 95%;
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  .navBar #menu {
    display: flex;
    justify-content: flex-end;
    position: static;
    width: 100%;
    background-color: #fff;
  }
  #menu {
    display: flex;
  }
  #menu li {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;

    margin-left: 15px;
  }
  .headerText {
    width: 100%;
    margin-left: 0;
  }
  .headerText p {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
  }

  .headerText h2,
  .secondRemark h2 {
    font-family: Poppins;
    font-weight: 500;
    font-size: normal;
    font-size: 25px;
    line-height: 65px;
    color: #333333;
    width: 100%;
  }

  .secondRemark p {
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
  }
  label {
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
  }

  .nav-icon {
    display: none;
  }
  .headerText {
    padding: 7% 10% 2% 10%;
  }
  .headerText h2 {
    width: 45%;
  }
  .secondRemark p {
    width: 57%;
    margin-right: 23%;
    margin-top: -50px;
  }
  .secondRemark h2 {
    padding: 7% 10% 2% 10%;
    margin-right: 0;
  }
  .BtnJoin,
  .contactBtn label {
    margin-top: 10px;
    width: 50%;
    height: 50px;
    margin-left: 12%;
  }
  .BtnJoin input {
    width: 71%;
    margin-left: 3%;
    height: 50px;
  }
  .BtnJoin button {
    background: #2d9cdb;
    width: 25%;
    height: 50px;
    border-radius: 10px;
  }
  .service h2 {
    margin-top: 30px;
    width: 30%;
    margin-right: 65%;
  }
  .serviceTextCatogory {
    display: flex;
    width: 100%;
  }
  .uiux,
  .frontend,
  .backend {
    width: 33.3%;
    padding: 2%;
    margin: 12px;
  }
  .uiux h2,
  .frontend h2,
  .backend h2 {
    width: 100%;
  }
  .pen,
  .chevron,
  .bar {
    width: 28%;
  }
  .uiux button,
  .frontend button,
  .backend button {
    width: 50%;
    height: 50px;
    border-radius: 10px;
  }
  .design1 img,
  .design2 img {
    width: 96%;
  }

  .design-imgwrapper {
    display: flex;
  }
  .design1-img1 {
    margin: 35% 2% 0 0;
  }
  .design2 {
    margin-top: -15%;
  }
  .design2-img2 {
    margin-top: -15%;
  }
  .design2-img1 {
    margin-top: 10%;
  }
  .design1 h2 {
    margin-right: 57%;
    width: 38%;
  }
  a,
  a .seemore-ptag {
    text-align: end;
    margin: 20% 10% 0 0;
    text-decoration: none;
  }
  .teamSection {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .teamCmnt {
    width: 50%;
  }
  .teamImg {
    width: 40%;
    margin-right: 10%;
  }
  .footer-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .footer-svg {
    padding-left: 0;
  }
  .footerCtnMessage .BtnJoin {
    margin-left: 0;
  }
  .footerCtnMessage,
  .EdieFooter,
  .footerMenu {
    margin-top: -37px;
    width: 33.3%;
  }
  .footerCtnMessage .BtnJoin {
    width: 100%;
  }
  .footerCtnMessage .BtnJoin,
  .footerCtnMessage input,
  .footerCtnMessage button {
    height: 35px;
  }
}

@media screen and (min-width: 1000px) {
  .service-h2 {
    width: 25%;
    padding: 0;
    margin-left: -15%;
  }
  .service h2 {
    margin-right: 50%;
  }

  .design1 h2 {
    width: 20%;
    padding: 0;
    margin-left: -15%;
  }
  .secondRemark h2 {
    width: 40%;
    margin-right: 30%;
  }
}
@media screen and (min-width: 1200px) {
  .designSection {
    margin-top: 40px;
  }
  .service h2 {
    margin-top: 30px;
    width: 30%;
  }

  .design2,
  .design1 {
    padding: 0;
  }
  .pen,
  .chevron,
  .bar {
    width: 20%;
  }
  .design1 img,
  .design2 img {
    width: 97%;
  }
  .design1-img1 {
  }
  .design2 {
    margin-top: 0%;
  }
  .design2-img2 {
    margin-top: 0%;
  }
  .footerCtnMessage .BtnJoin,
  .footerCtnMessage input,
  .footerCtnMessage button {
    height: 45px;
  }
}
